<h3>Nuevo Usuario:</h3>
<form action="/api/users/signup" method="post">
    Name: <input type="text" name="name" id="name">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="SIGNUP">
</form>