{{#if product.id}}
    
    <h2>PRODUCTO AGREGADO OK</h2>
    <p>Id: {{product.id}}</p>
    <p>Titulo: {{product.title}}</p>
    <p>Descripcion: {{product.description}}</p>

{{else}}

    <h2>Producto invalido.</h2>

{{/if}}